doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/cartpage.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/cart.js')
  body
    #navbar
      #drpdwn-parent.nav-item.bar-icon
        i#bar-button.fa.fa-bars.nav-icon.fa-lg(aria-hidden='true')
        #drpdwn
          if logged_in
            a(href='/logout') Logout
            a(href='#') Merchandise
            a(href='#') Apparel
            a(href='#') Bikes
            a(href='#') Cars
          else
            a(href='/loginform/index') Login
            a(href='/signupform') Register
            a(href='stores') Merchandise
            a(href='#') Apparel
            a(href='#') Bikes
            a(href='#') Cars
      .nav-item.nav-head
        strong Roadigo
      .nav-item
        i.fa.fa-bell-o.nav-icon.fa-lg(aria-hidden='true')
      if logged_in
        .nav-item
          form(action='/cartdisplay', method='POST')
            input(type='hidden', name='email', value=email)
            button#submit-button(type='submit', value='Services')
              i.fa.fa-cart-plus.nav-icon.fa-lg(aria-hidden='true')
      else
        .nav-item
          i.fa.fa-cart-plus.nav-icon.fa-lg(aria-hidden='true')
      .nav-item
        i.fa.fa-search.nav-icon.fa-lg(aria-hidden='true')
    if user
      .carttitle Welcome &nbsp;
        span!= user
    if cart
      .cartcontenthead Your cart contains:
      each item in cart
        .cartcontent= item
    else
      .cartcontenthead Your cart is empty!
    footer
      #contact
        span#contact-head
          strong Roadigo
        br
        i.fa.fa-phone.fa-lg(aria-hidden='true')
        i.fa.fa-instagram.fa-lg(aria-hidden='true')
        i.fa.fa-facebook.fa-lg(aria-hidden='true')
        i.fa.fa-twitter.fa-lg(aria-hidden='true')
        i.fa.fa-envelope-o.fa-lg(aria-hidden='true')
      #footer-other-explore
        #footer-other-explore-head Explore
        .footer-other-explore-list Roadigo Deals
        .footer-other-explore-list Partners
        .footer-other-explore-list Help & Support
        .footer-other-explore-list Testimonials
      #footer-other-resource
        #footer-other-resource-head Resources
        .footer-other-resource-list Roadigo Q&A
        .footer-other-resource-list Terms & Conditions
        .footer-other-resource-list Privacy Policy