doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/cart.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    #name Hi! &nbsp;
      span= name
    #products Your Cart
    if data
      each ele in data
        img.prodimg(src = ele.imgurl)
        .prodname= ele.prodname
        .prodprice= ele.prodprice
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/storemenu.js')