doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/example.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/ind.js')
  body
    #navbar
      #drpdwn-parent.nav-item.bar-icon
        i#bar-button.fa.fa-bars.nav-icon.fa-lg(aria-hidden='true')
        #drpdwn
          if logged_in
            a(href='/logout') Logout
            a(href='#') Merchandise
            a(href='#') Apparel
            a(href='#') Bikes
            a(href='#') Cars
          else
            a(href='/loginform/index') Login
            a(href='/signupform') Register
            a(href='#') Merchandise
            a(href='#') Apparel
            a(href='#') Bikes
            a(href='#') Cars
      .nav-item.nav-head
        strong Roadigo
      .nav-item
        i.fa.fa-search.nav-icon.fa-lg(aria-hidden='true')
      .nav-item
        i.fa.fa-bell-o.nav-icon.fa-lg(aria-hidden='true')
      .nav-item
        i.fa.fa-cart-plus.nav-icon.fa-lg(aria-hidden='true')
    #categories
      .cattitle Category A
      .prodrow
        img(src='/images/shop/pic.png')
        img(src='/images/shop/pic.png')
        img(src='/images/shop/pic.png')
      .cattitle Category B
      .prodrow
        img(src='/images/shop/pic.png')
        img(src='/images/shop/pic.png')
        img(src='/images/shop/pic.png')
      .cattitle Category C
      .prodrow
        img(src='/images/shop/pic.png')
        img(src='/images/shop/pic.png')
        img(src='/images/shop/pic.png')
    footer
      #contact
        span#contact-head
          strong Roadigo
        br
        i.fa.fa-phone.fa-lg(aria-hidden='true')
        i.fa.fa-instagram.fa-lg(aria-hidden='true')
        i.fa.fa-facebook.fa-lg(aria-hidden='true')
        i.fa.fa-twitter.fa-lg(aria-hidden='true')
        i.fa.fa-envelope-o.fa-lg(aria-hidden='true')
      #footer-other-explore
        #footer-other-explore-head Explore
        .footer-other-explore-list Roadigo Deals
        .footer-other-explore-list Partners
        .footer-other-explore-list Help & Support
        .footer-other-explore-list Testimonials
      #footer-other-resource
        #footer-other-resource-head Resources
        .footer-other-resource-list Roadigo Q&A
        .footer-other-resource-list Terms & Conditions
        .footer-other-resource-list Privacy Policy
