doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    link(href='https://fonts.googleapis.com/css?family=Istok Web', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Dancing Script', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    #overlay
      svg#logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1080 1080', style='enable-background:new 0 0 1080 1080;', xml:space='preserve')
        style(type='text/css').
          .st0{display:none;}
        g#Layer_1.st0
          image(style='display:inline;overflow:visible;opacity:0.25;', width='404', height='576', xlink:href='Logo_4_2.png', transform='matrix(1.625 0 0 1.625 211.75 72)')
        g#Layer_4
          g
            path(d='M844,92v896H236V92H844 M864,72H216v936h648V72L864,72z')
        g#Layer_5
          g
            path(d='M407.6,859.7h-0.2c-4.2,0-7.8,1.5-10.9,4.6c-3,3-4.5,6.6-4.5,10.9v10.2c0,4.2,1.5,7.8,4.5,10.9c3,3,6.7,4.5,10.9,4.5h0.2\
            c4.3,0,7.9-1.5,10.9-4.5c3-3,4.6-6.7,4.6-10.9v-10.2c0-4.3-1.5-7.9-4.6-10.9C415.5,861.2,411.9,859.7,407.6,859.7z')
            path(d='M648.3,859.7h-0.2c-4.3,0-8,1.5-11,4.6c-3,3-4.5,6.7-4.5,11v10.3c0,4.3,1.5,7.9,4.5,11c3,3,6.7,4.6,11,4.6h0.2\
            c4.3,0,7.9-1.5,11-4.6c3-3,4.5-6.7,4.5-11v-10.3c0-4.3-1.5-8-4.5-11C656.2,861.2,652.6,859.7,648.3,859.7z')
            path(d='M549,861.1h-0.2c-4.2,0-7.7,1.5-10.7,4.4c-2.9,2.9-4.4,6.5-4.4,10.6v10c0,4.2,1.5,7.7,4.4,10.7c2.9,2.9,6.5,4.4,10.7,4.4\
            h0.2c4.1,0,7.6-1.5,10.6-4.4c2.9-2.9,4.4-6.5,4.4-10.7v-10c0-4.1-1.5-7.6-4.4-10.6C556.6,862.6,553.1,861.1,549,861.1z')
            path(d='M478,859.7h-0.2c-4.2,0-7.8,1.5-10.9,4.6c-3,3-4.5,6.6-4.5,10.9v10.2c0,4.2,1.5,7.8,4.5,10.9c3,3,6.7,4.5,10.9,4.5h0.2\
            c4.3,0,7.9-1.5,10.9-4.5c3-3,4.6-6.7,4.6-10.9v-10.2c0-4.3-1.5-7.9-4.6-10.9C485.9,861.2,482.2,859.7,478,859.7z')
            path(d='M719,859.7h-0.2c-4.2,0-7.8,1.5-10.9,4.6c-3,3-4.5,6.6-4.5,10.9v10.2c0,4.2,1.5,7.8,4.5,10.9c3,3,6.7,4.5,10.9,4.5h0.2\
            c4.3,0,7.9-1.5,10.9-4.5c3-3,4.6-6.7,4.6-10.9v-10.2c0-4.3-1.5-7.9-4.6-10.9C726.9,861.2,723.2,859.7,719,859.7z')
            path(d='M234,773.8v216h612v-216H234z M370.6,857.2c-1.6,1.6-3.6,2.4-5.8,2.4h-4.6c-4.2,0-7.8,1.5-10.9,4.6c-3,3-4.5,6.6-4.5,10.9\
            v34c0,2.3-0.8,4.2-2.4,5.8c-1.6,1.6-3.6,2.4-5.9,2.4s-4.2-0.8-5.8-2.4c-1.6-1.6-2.4-3.5-2.4-5.8v-34c0-8.8,3.1-16.3,9.4-22.5\
            s13.8-9.4,22.5-9.4h4.6c2.2,0,4.2,0.8,5.8,2.4c1.6,1.6,2.4,3.5,2.4,5.8S372.3,855.6,370.6,857.2z M439.6,885.4\
            c0,8.8-3.1,16.3-9.4,22.5c-6.2,6.2-13.8,9.4-22.5,9.4h-0.2c-8.8,0-16.3-3.1-22.5-9.4c-6.2-6.2-9.4-13.7-9.4-22.5v-10.2\
            c0-8.8,3.1-16.3,9.4-22.5c6.2-6.2,13.7-9.4,22.5-9.4h0.2c8.8,0,16.3,3.1,22.5,9.4s9.4,13.8,9.4,22.5V885.4z M509.9,909\
            c0,2.3-0.8,4.2-2.4,5.8c-1.6,1.6-3.5,2.4-5.8,2.4c-3.4,0-5.8-1.5-7.3-4.5c-5,3-10.5,4.5-16.4,4.5h-0.2c-8.8,0-16.3-3.1-22.5-9.4\
            c-6.2-6.2-9.4-13.7-9.4-22.5v-10.2c0-8.8,3.1-16.3,9.4-22.5c6.2-6.2,13.7-9.4,22.5-9.4h0.2c8.8,0,16.3,3.1,22.5,9.4\
            s9.4,13.8,9.4,22.5V909z M580.1,886.1c0,8.6-3,15.9-9.1,22c-6.1,6.1-13.4,9.1-22,9.1h-0.2c-8.6,0-15.9-3-22-9.1s-9.1-13.4-9.1-22\
            v-10c0-8.6,3-15.9,9.1-22c6.1-6,13.4-9.1,22-9.1h0.2c5.3,0,10.3,1.3,15,3.9v-24.5c0-2.2,0.8-4.1,2.4-5.6c1.6-1.6,3.5-2.4,5.7-2.4\
            c2.2,0,4.1,0.8,5.7,2.4c1.5,1.5,2.3,3.4,2.3,5.6V886.1z M607.7,908.7c0,2.4-0.8,4.4-2.5,6c-1.6,1.7-3.6,2.5-5.9,2.5\
            c-2.4,0-4.4-0.8-6-2.5c-1.7-1.6-2.5-3.6-2.5-6v-59.3c0-2.3,0.8-4.3,2.5-6c1.6-1.7,3.6-2.5,6-2.5c2.3,0,4.3,0.8,5.9,2.5\
            c1.7,1.7,2.5,3.7,2.5,6V908.7z M605.2,830.9c-1.6,1.6-3.6,2.4-5.9,2.4c-2.4,0-4.4-0.8-6-2.4c-1.7-1.7-2.5-3.7-2.5-6\
            c0-2.3,0.8-4.3,2.5-6c1.6-1.6,3.6-2.4,6-2.4c2.3,0,4.3,0.8,5.9,2.4c1.7,1.7,2.5,3.7,2.5,6C607.7,827.2,606.9,829.3,605.2,830.9z\
            M680.4,915c0,8.9-3.1,16.5-9.4,22.7c-6.2,6.3-13.8,9.4-22.6,9.4h-0.2c-6.2,0-11.9-1.6-17.1-4.9c-5.2-3.2-9.1-7.6-11.8-13.2\
            c-1-2-1.2-4.1-0.5-6.3c0.8-2.2,2.2-3.8,4.3-4.7c2-1,4.1-1.1,6.3-0.4c2.1,0.7,3.7,2.1,4.7,4.2c1.3,2.7,3.2,4.8,5.7,6.3\
            c2.5,1.6,5.3,2.4,8.3,2.4h0.2c4.3,0,7.9-1.5,11-4.5c3-3,4.5-6.7,4.5-11v-1.4c-4.8,2.6-10,4-15.5,4h-0.2c-8.9,0-16.5-3.1-22.7-9.4\
            c-6.3-6.3-9.4-13.9-9.4-22.7v-10.3c0-8.9,3.1-16.5,9.4-22.7c6.2-6.3,13.8-9.4,22.7-9.4h0.2c8.8,0,16.4,3.1,22.6,9.4\
            c6.3,6.2,9.4,13.8,9.4,22.7V915z M750.9,885.4c0,8.8-3.1,16.3-9.4,22.5c-6.2,6.2-13.8,9.4-22.5,9.4h-0.2c-8.8,0-16.3-3.1-22.5-9.4\
            c-6.2-6.2-9.4-13.7-9.4-22.5v-10.2c0-8.8,3.1-16.3,9.4-22.5c6.2-6.2,13.7-9.4,22.5-9.4h0.2c8.8,0,16.3,3.1,22.5,9.4\
            s9.4,13.8,9.4,22.5V885.4z')
        g#Layer_3
          g
            path(d='M450,237.5L450,237.5c0-11.9-9.6-21.5-21.5-21.5H387v122.2c10.6-33.1,30.1-62.2,55.6-84.5\
            C447.3,249.6,450,243.7,450,237.5z')
            path(d='M567,216c-18.7,0-36.7,2.8-53.6,8.1c-23.6,7.3-45.1,19.4-63.4,35.1c-27.4,23.4-47.6,54.9-57.1,90.8\
            c-3.9,14.7-5.9,30.1-5.9,46v270c49.7,0,90-40.3,90-90V396c0-49.7,40.3-90,90-90h36c34.5,0,64.5-19.4,79.6-48\
            c1.4-2.7,2.8-5.6,3.9-8.4c4.2-10.4,6.5-21.7,6.5-33.6H567z')
      h1
        span.let1 l
        span.let2 o
        span.let3 a
        span.let4 d
        span.let5 i
        span.let6 n
        span.let7 g
    .fixed-top
      #navbar-at-landing.topnav.topnav1
        a.active.navbar-brand(href='/')
          strong Roadigo
        a#bar-icon.icon.navbar-brand(href='javascript:void(0);', onclick='appearDropDown2()')
          i.fa.fa-bars
        a.dropdownmenu(href='#store') Store
        a.dropdownmenu(href='#service') Services
        #logged_in
          if logged_in
            a.dropdownmenu.fr(href='/logout' class="pseudo-first")
              i.fa.fa-user
              |  Logout
          else
            a.dropdownmenu.fr(href="/loginform" class="pseudo-first")
              i.fa.fa-user
              |  Login
            a.dropdownmenu.fr(href="/signupform")
              i.fa.fa-user-plus
              |  Register
    #slide-par.carousel.slide(data-ride='carousel', data-interval=3000)
      ul.carousel-indicators
        li.active(data-target='#slide-par', data-slide-to='0')
        li(data-target='#slide-par', data-slide-to='1')
        li(data-target='#slide-par', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          #carousel-text1.carousel-text Roadigo
            .tagline
              em the automotive marketplace
          img(src='/images/shop/img10.jpg', alt='Product')
        .carousel-item
          #carousel-text2.carousel-text Shop for cool products
          img(src='/images/shop/img9.jpg', alt='Product')
        .carousel-item
          #carousel-text3.carousel-text Crazy deals and discounts
          img(src='/images/shop/img11.jpg', alt='Product')
      a.carousel-control-prev(href='#slide-par', data-slide='prev')
        span.carousel-control-prev-icon
      a.carousel-control-next(href='#slide-par', data-slide='next')
        span.carousel-control-next-icon
    .fixed-top
      #navbar.topnav.topnav2
        a.active.navbar-brand(href='/')
          strong Roadigo
        a#bar-icon.icon.navbar-brand(href='javascript:void(0);', onclick='appearDropDown()')
          i.fa.fa-bars
        a.dropdownmenu(href='#store') Store
        a.dropdownmenu(href='#service') Services
        #logged_in
          if logged_in
            a.dropdownmenu.fr(href='/logout' class="pseudo-first")
              i.fa.fa-user
              |  Logout
          else
            a.dropdownmenu.fr(href="/loginform" class="pseudo-first")
              i.fa.fa-user
              |  Login
            a.dropdownmenu.fr(href="/signupform")
              i.fa.fa-user-plus
              |  Register
    .content.container
      #store.section-title Store
      hr.hrofhead.below_section-title
      .row
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/6')
              img.img-thumbnail(src='/images/shop/img6.jpeg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/1')
              img.img-thumbnail(src='/images/shop/img1.jpg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/2')
              img.img-thumbnail(src='/images/shop/img2.jpg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/3')
              img.img-thumbnail(src='/images/shop/img3.jpeg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
      .row
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/4')
              img.img-thumbnail(src='/images/shop/img4.jpeg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/5')
              img.img-thumbnail(src='/images/shop/img5.jpeg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/6')
              img.img-thumbnail(src='/images/shop/img6.jpeg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/product/1')
              img.img-thumbnail(src='/images/shop/img1.jpg', alt='product')
              hr.hrofhead
              .prod-detail Men's Tee
              .prod-price ₹ 999
      .show-more
        a(href='/services') Show more
      #service.section-title Services
      hr.hrofhead.below_section-title
      .row
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/service/1')
              img.img-thumbnail(src='/images/shop/img1.jpg', alt='product')
              hr.hrofhead
              .prod-detail Service
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/service/1')
              img.img-thumbnail(src='/images/shop/img1.jpg', alt='product')
              hr.hrofhead
              .prod-detail Service
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/seervice/2')
              img.img-thumbnail(src='/images/shop/img2.jpg', alt='product')
              hr.hrofhead
              .prod-detail Service
              .prod-price ₹ 999
        .col-lg-3.col-md-3.col-sm-3.col-6.thumb.hidden-view
          .hidden-view
            a.thumbnail(href='/service/3')
              img.img-thumbnail(src='/images/shop/img3.jpeg', alt='product')
              hr.hrofhead
              .prod-detail Service
              .prod-price ₹ 9999
      .show-more
        a(href='/services') Show more
    footer
      #footer-head Roadigo
        sup ©
      hr.styled
      #footer-body
        ul#footer-list
          li
            a.footer-links(href='#') Terms and Conditions
          li
            a.footer-links(href='#') Returns / Exchanges
          li
            a.footer-links(href='#') Privacy Policy
          li
            a.footer-links(href='#') Shipping Info
          li
            a.footer-links(href='#') Contact
          li
            a.footer-links(href='#') About
    script.
      document.getElementById("bginit").style.height = window.innerHeight + 'px';
      if(window.innerWidth > 1024){
      window.addEventListener('resize', function(){
      document.getElementById("initbackground").style.height = window.innerHeight + 'px';
      })
      }
      document.getElementById("bginit1").style.height = window.innerHeight + 'px';
      if(window.innerWidth > 1024){
      window.addEventListener('resize', function(){
      document.getElementById("initbackground").style.height = window.innerHeight + 'px';
      })
      }
      document.getElementById("bginit2").style.height = window.innerHeight + 'px';
      if(window.innerWidth > 1024){
      window.addEventListener('resize', function(){
      document.getElementById("initbackground").style.height = window.innerHeight + 'px';
      })
      }
    script(src='/javascripts/index.js')
    script(src='/javascripts/navbar-anim.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
