doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    .sticky-top
      #navbar.topnav.prod-navbar
        a.active.navbar-brand(href='/')
          strong Roadigo
        a.icon.navbar-brand(href='javascript:void(0);', onclick='appearDropDown()')
          i.fa.fa-bars
        a.dropdownmenu(href='#store') Store
        a.dropdownmenu(href='#service') Services
        #logged_in
          if logged_in
            a.dropdownmenu.fr(href='/logout' class="pseudo-first")
              i.fa.fa-user
              |  Logout
          else
            a.dropdownmenu.fr(href="/loginform" class="pseudo-first")
              i.fa.fa-user
              |  Login
            a.dropdownmenu.fr(href="/signupform")
              i.fa.fa-user-plus
              |  Register
      block content