doctype html
html(lang='en')
  head
    title Signup
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='stylesheets/form.css')
  body
    .container
      #form-brand roadigo.
      form(action='/signup' method='POST')
        .form-head Create An Account
        .row
          .inputfield
            label(for='name') Full Name
          .inputlabel
            input#name(type='text', name='name')
        .row
          .inputlabel
            label(for='email') Email
          .inputfield
            input#email(type='text', name='email')
        .row
          .inputlabel
            label(for='psw') Password
          .inputfield
            input#psw(type='password', name='psw')
        .row.checkrow
          input(type='checkbox', name='terms', value='true')
          span.checklabel I have read and agree to the 
            a(href='/terms') terms and conditions
            | &nbsp;and&nbsp;
            a(href='/privacypolicy') privacy policy
        .row
          input(type='submit', value='Register')
        .row
          if errors
            .listoferrorshead
              | Please correct the form:
            ul
              each element in errors
                li.listoferrors= element.msg
