doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/storemenu.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    nav#navbar
      a#logo.navbar-item(href='/')
        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 791 791', style='enable-background:new 0 0 791 791;', xml:space='preserve')
          style(type='text/css').
            .st0{display:none;}
          g#Layer_1.st0
          g#Layer_4
          g#Layer_5
          g#Layer_3
            g
              path(d='M306,192.5L306,192.5c0-11.9-9.6-21.5-21.5-21.5H243v122.2c10.6-33.1,30.1-62.2,55.6-84.5\
              C303.3,204.6,306,198.7,306,192.5z')
              path(d='M423,171c-18.7,0-36.7,2.8-53.6,8.1c-23.6,7.3-45.1,19.4-63.4,35.1c-27.4,23.4-47.6,54.9-57.1,90.8\
              c-3.9,14.7-5.9,30.1-5.9,46v270c49.7,0,90-40.3,90-90V351c0-49.7,40.3-90,90-90h36c34.5,0,64.5-19.4,79.6-48\
              c1.4-2.7,2.8-5.6,3.9-8.4c4.2-10.4,6.5-21.7,6.5-33.6H423z')
      #brand-name.navbar-item
        | The Roadigo Store
      #dropdown.navbar-item
        button.dropbtn(onclick='checkdrop()')
          i.fa.fa-user
          i.fa.fa-caret-down
        .dropdown-content
          a(href='/loginform') Login
          a(href='/signupform') Register
          a(href='#') Cart
    .content
      if data
        each ele, key in data
          .category-head!= key
          each element in ele
            .category
              a(href = element.url)
                img.category-img(src=element.imgurl)
                .category-name!= element.name
    footer
      #footer-head Roadigo
        sup ©
      hr.styled
      #footer-body
        ul#footer-list
          li
            a.footer-links(href='#') Terms and Conditions
          li
            a.footer-links(href='#') Returns / Exchanges
          li
            a.footer-links(href='#') Privacy Policy
          li
            a.footer-links(href='#') Shipping Info
          li
            a.footer-links(href='#') Contact
          li
            a.footer-links(href='#') About
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/storemenu.js')