@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

@font-face {
  font-family: 'maxwell';
  src: url('/fonts/maxwell.bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: calc(5px + 0.5vw);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #777;
}

body{
  /*background-image: linear-gradient(135deg, #e3463a, #cd2a1d, #af2419);*/
  background-image: linear-gradient(135deg, rgba(227,70,58,1), rgba(205,42,29,1), rgba(175,36,25,1));
  background-repeat: no-repeat;
  min-height: 100vh;
}

#form-brand{
  color: #fff;
  font-size: calc(10px + 1.3vw);
  font-family: 'maxwell';
}

form{
  position: relative;
  overflow: auto;
  margin: auto;
  width: 50%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 5% 0 3% 0;
  margin-top: 2%;
  background-color: white;
}

.form-head{
  text-align: center;
  margin-bottom: 5%;
  font-size: calc(7px + 1.1vw);
}

input:not([type=checkbox]) {
  padding: calc(3px + 1%);
  border-width: 0px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0% 5% 3% 5%;
  width: 90%;
}

/* Style the label to display next to the inputs */
label {
  display: block;
  margin: 3% 0 0 5%;
}


.checkrow{
  margin: 3% 0;
}

.checkbox{
  display: inline-block;
  vertical-align:middle;
  margin: 0 0 0 2%;
  word-wrap: break-word;
}

input[type=checkbox]{
  margin-left: 5%;
}

/* Style the submit button */
input[type=submit] {
  background-image: linear-gradient(135deg, #e3463a, #cd2a1d, #af2419);
  color: white;
  border: none;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  cursor: pointer;
}

/* Style the container */
.container {
  padding: 2%;
  background-color: transparent;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.submit_button{
  margin-right: 50%;
  margin-top: 4%;
}

.listoferrorshead{
  text-align: center;
  font-family: sans-serif;
  font-size: calc(4px + 0.8vw);
  padding-bottom: 1%;
}

.listoferrors{
  color: #cd2a1d;
  font-family: sans-serif;
  font-size: calc(3px + 0.7vw);
  text-align: center;
  list-style-type: none;
}

@media screen and (max-width: 800px){
  #form-brand{
    margin-top: 7%;
  }
  form{
    width: 80%;
    margin-top: 10vh;
  }
}