* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  text-align: center;
}

@font-face {
  font-family: 'maxwell';
  src: url('/fonts/maxwell.bold.ttf');
}

@font-face {
  font-family: 'product';
  src: url('/fonts/ProductSansRegular.ttf');
}

#overlay{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

#logo{
  width: 30%;
  height: 30%;
  margin-top: 30vh;
  fill: #cd2a1d;
}

#overlay h1 {
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  color: #cd2a1d;
  letter-spacing: 5px;
}

#overlay span {
  position: relative;
  top: 0.63em;  
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

#navbar-at-landing{
  background-color: #fff;
}

#navbar-at-landing a{
  color: #cf3721;
}

#navbar-at-landing a::after {
  content: '';
  background: #cf3721;
  display: block;
  height: 2px;
  width: 0;
  transition: width .3s;
}

#navbar-at-landing a:not(.navbar-brand):hover::after {
  width: 100%;
}

#slide-par{
  margin-top: 5%;
}

.carousel-inner img {
  width: 100%;
  height: 80vh;
}

.carousel-text{
  position: absolute;
  color: #fff;
  font-size: calc(15px + 3vw);
  background-color: #222;
  left: 0;
  right: 0;
  width: 60%;
  margin: 25vh auto 0 auto;
  text-align: center;
  padding-top: 3%;
  font-family: 'maxwell';
  padding: 1%;
  opacity: 0.9;
}

.carousel-text .tagline{
  font-size: calc(8px + 0.5vw);
}

#carousel-text1{
  width: 50%;
  background-color: #cd2a1d;
  padding-top: 1%;
  color: #fdd900;
}

#carousel-text2{
  background-color: #62d3fd;
  color: #fa8281;
}

#carousel-text3{
  background-color: #fdd900;
  color: #d62c0d;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar{
  display: none;
}

.topnav {
  font-family: 'maxwell';
  overflow: hidden;
  background-color: #e00022;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;/*#4d4dff*/
  text-align: center;
  margin: 2% 2% 0 2%;
  text-decoration: none;
  font-size: calc(10px + 0.8vw);
  line-height: 1.5;
}

.topnav a:not(.dropdownmenu){
  font-size: calc(15px + 0.8vw);
}

#navbar{
  border-bottom-width: 0px !important;
}

.topnav .fr{
  float: right;
}

.prod-topnav{
  display: block;
}

.prod-topnav a{
  padding: 0.5% 1% !important;
}

.topnav a{
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  padding: 0.5% 1%;
  margin-top: 1%;
}

#navbar a::after {
  content: '';
  background: #fff;
  display: block;
  height: 2px;
  width: 0;
  transition: width .3s;
}

#navbar a:not(.navbar-brand):hover::after {
  width: 100%;
}

.topnav .topnav-brand{
  font-family: 'Dancing Script';
  font-size: calc(15px + 0.8vw);
  line-height: 1;
}

.topnav .icon{
  display: none;
}

.topnav .icon i{
  margin-right: 15px;
}

.hrofhead {
  border: 0;
  margin-top: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

.below_section-title {
  animation: line-change 20s forwards;
  animation-iteration-count: infinite;
 }

.invis{
  display: none;
}

.section-title{
  font-family: 'product';
  font-size: calc(6px + 2vw);
  text-align: center;
  margin: 7% 0 0 0;
  animation: border-change 20s forwards;
  animation-iteration-count: infinite;
}

.content{
  padding: 1%;
}

.row{
  margin-top: 5%;
}

.thumb{
  text-align: center;
  margin: 2% 0;
  font-size: calc(7px + 0.8vw);
  padding-top: 5%;
  height: 300px;
}

/*.thumb:not(:last-child){
  border-right: 2px solid #5ea8a7;
  animation: border-change 20s forwards;
  animation-iteration-count: infinite;
}*/

.thumb .prod-detail{
  margin-top: 2%;
}

.prod-price{
  font-size: calc(6px + 0.5vw);
}

.thumbnail{
  color: #301b28;
}

.thumbnail:hover{
  color: #888;
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.img-thumbnail{
  height: 150px;
  width: 150px;
  padding: 0;
  margin-bottom: 5%;
}

@keyframes border-change {
  0%{
    border-color: #5ea8a7;
    color: #5ea8a7;
  }
  34%{
    border-color: #ff4447;
    color: #ff4447;
  }
  66%{
    border-color: #7aa802;
    color: #7aa802;
  }
  100%{
    border-color: #4897d8;
    color: #4897d8;
  }
}

@keyframes line-change {
  0%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(94, 168, 167, 0.4), rgba(0, 0, 0, 0));
  }
  34%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 68, 71, 0.4), rgba(0, 0, 0, 0));
  }
  66%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(122, 168, 2, 0.4), rgba(0, 0, 0, 0));
  }
  100%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(72, 151, 216, 0.4), rgba(0, 0, 0, 0));
  }
}

.show-more{
  text-align: center;
  margin-top: 2%;
}

.show-more a{
  color: #388e3c;
  font-size: calc(10px + 0.7vw)
}

footer{
  overflow: auto;
  margin-top: 5%;
}

#footer-head{
  color: #888;
  font-family: 'maxwell';
  font-size: calc(15px + 2vw);
  text-align: center;
}

sup{
  font-size: 50%;
}

#footer-list{
  list-style-type: none;
  display: block;
}

.footer-links{
  color: #888;
  font-size: calc(8px + 0.7vw);;
}

.footer-links:hover{
  text-decoration: none;
  color: #222;
}

#footer-body{
  text-align: center;
  width: 100%;
  margin-top: 2%;
}

#footer-list li{
  display: inline-block;
  padding: 1% 2%;
}


.fade-in-element {
  animation: fade-in 2s;
}

.hidden-view{
  opacity: 0;
  width: 100%;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

hr.styled { overflow: visible; /* For IE */border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)); text-align: center; } 
hr.styled:after { content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1em; padding: 0 0.25em; background: white; color: #666; }

@media screen and (max-width: 600px){
  .home-title{
    margin-top: 25%;
  }
  .topnav a{
    border: 0px solid #4d4dff;
    margin: 0 3% 0 3%;
    padding-left: 2%;
    height: 30px;
  }
  .topnav a:not(.dropdownmenu){
    margin: 3% 3% 0 3%;
  }
  .dropdownmenu{
    /*background-color: #888;*/
  }
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav .pseudo-first{display: none;}
  .topnav #bar-icon{
    float: right;
    display: block;
  }
  .topnav #topnav-brand{
    margin-bottom: 5%;
  }
  hr.styled:after { content: "§"; display: inline-block; position: relative; top: -1.7em; font-size: 0.5em; padding: 0 0.25em; background: white; color: #666; }
  .show-more{
  margin-top: 0;
  margin-bottom: 15%;
}
}

@media screen and (max-width: 600px){
  .topnav.responsive {
    position: relative;
  }
  .responsive .dropdownmenu{
    transition: all 2s;
    opacity: 0;
  }
  .topnav.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .fr{
    float: none;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  #slide-par{
    margin-top: 10%;
  }
  .in .dropdownmenu{
    opacity: 1;
  }
  #footer-list li{
    display: block;
  }
}

@media screen and (max-width: 768px){
  #logo{
    width: 40%;
    height: 40%;
    margin-top: 10vh;
  }
  #overlay h1 {
    letter-spacing: 3px;
  }
  .carousel-inner img {
    height: 60vh;
  }
  .carousel-text{
    margin-top: 20vh;
  }
  .thumb:not(:last-child){
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .thumb{
    height: 180px;
  }
  .img-thumbnail{
    width: 100px;
    height: 100px;
  }
  .row{
    margin: 0;
  }
}

@media screen and (max-width: 1024px){
  #footer-list li{
    padding: 1%;
  }
  .scroll{
    width: 15%;
    border: 1px solid #cf3721;
    margin-bottom: 15%;
    padding: 1% 0;
  }
}