* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

@font-face {
  font-family: 'maxwell';
  src: url('/fonts/maxwell.bold.ttf');
}

@font-face {
  font-family: 'product';
  src: url('/fonts/ProductSansRegular.ttf');
}

#bginit{
  background-image: url(../images/1.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cf3721;
  font-size: calc(30px + 5vw);
  text-align: center;
  font-family: 'maxwell'/*'Istok Web'*/;
}

#navbar-at-landing{
  background-color: transparent;
  padding-right: 5%;
}

#navbar-at-landing a{
  color: #cf3721;
}

.logo{
  margin-top: 10%;
  width: 40%;
  height: 40%;
  fill: #cf3721;
}

.tagline{
  font-size: calc(15px + 1vw);
  font-family: 'maxwell';
}

.scroll{
  width: 10%;
  border: 2px solid #cf3721;
  background-color: #cf3721;
  border-radius: 5%;
  font-size: calc(5px + 1.5vw);
  font-family: 'Trebuchet MS';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 5%;
}

.scroll a{
  color: #fff;
}

.scroll a:after{
  content: '\00bb';
  padding: 0 5%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.scroll a:hover{
  text-decoration: none;
  color: #fff;
}

.scroll a:hover:after{
  opacity: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar{
  display: none;
}

.topnav {
  font-family: 'maxwell';
  overflow: hidden;
  background-color: #551a8b;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;/*#4d4dff*/
  text-align: center;
  margin: 2% 2% 0 2%;
  text-decoration: none;
  font-size: calc(7px + 0.8vw);
  line-height: 1.5;
}

#navbar{
  border-bottom-width: 0px !important;
}

.topnav .fr{
  float: right;
}

.prod-topnav{
  display: block;
}

.prod-topnav a{
  padding: 0.5% 1% !important;
}

.topnav a{
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  padding: 0.5% 1%;
}

.topnav a:not(.topnav-brand){
  margin-bottom: 1%;
}


.topnav .topnav-brand{
  font-family: 'Dancing Script';
  font-size: calc(15px + 0.8vw);
  line-height: 1;
}

.topnav .icon{
  display: none;
}

.topnav .icon i{
  margin-right: 15px;
}

.hrofhead {
  border: 0;
  margin-top: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  animation: line-change 20s forwards;
  animation-iteration-count: infinite;
}

.invis{
  display: none;
}

.section-title{
  font-family: 'product';
  font-size: calc(6px + 2vw);
  text-align: center;
  margin: 7% 0 0 0;
  animation: border-change 20s forwards;
  animation-iteration-count: infinite;
}

.content{
  padding: 1%;
}

.row{
  margin-top: 5%;
}

.thumb{
  text-align: center;
  margin: 2% 0;
  font-size: calc(7px + 0.8vw);
  padding-top: 5%;
  height: 300px;
}

/*.thumb:not(:last-child){
  border-right: 2px solid #5ea8a7;
  animation: border-change 20s forwards;
  animation-iteration-count: infinite;
}*/

.thumb .prod-detail{
  margin-top: 2%;
}

.prod-price{
  font-size: calc(6px + 0.5vw);
}

.thumbnail{
  color: #301b28;
}

.thumbnail:hover{
  color: #888;
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.img-thumbnail{
  height: 150px;
  width: 150px;
  padding: 0;
  margin-bottom: 5%;
}

@keyframes border-change {
  0%{
    border-color: #5ea8a7;
    color: #5ea8a7;
  }
  34%{
    border-color: #ff4447;
    color: #ff4447;
  }
  66%{
    border-color: #7aa802;
    color: #7aa802;
  }
  100%{
    border-color: #4897d8;
    color: #4897d8;
  }
}

@keyframes line-change {
  0%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(94, 168, 167, 0.4), rgba(0, 0, 0, 0));
  }
  34%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 68, 71, 0.4), rgba(0, 0, 0, 0));
  }
  66%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(122, 168, 2, 0.4), rgba(0, 0, 0, 0));
  }
  100%{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(72, 151, 216, 0.4), rgba(0, 0, 0, 0));
  }
}

.show-more{
  text-align: center;
  margin-top: 2%;
}

.show-more a{
  color: #388e3c;
  font-size: calc(10px + 0.7vw)
}

footer{
  overflow: auto;
  margin-top: 5%;
}

#footer-head{
  color: #888;
  font-family: 'maxwell';
  font-size: calc(15px + 2vw);
  text-align: center;
}

sup{
  font-size: 50%;
}

#footer-list{
  list-style-type: none;
  display: block;
}

.footer-links{
  color: #888;
  font-size: calc(8px + 0.7vw);;
}

.footer-links:hover{
  text-decoration: none;
  color: #222;
}

#footer-body{
  text-align: center;
  width: 100%;
  margin-top: 2%;
}

#footer-list li{
  display: inline-block;
  padding: 1% 2%;
}


.fade-in-element {
  animation: fade-in 2s;
}

.hidden-view{
  opacity: 0;
  width: 100%;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

hr.styled { overflow: visible; /* For IE */border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)); text-align: center; } 
hr.styled:after { content: "ยง"; display: inline-block; position: relative; top: -0.7em; font-size: 1em; padding: 0 0.25em; background: white; color: #666; }

@media screen and (max-width: 600px){
  .home-title{
    margin-top: 25%;
  }
  .topnav a{
    border: 0px solid #4d4dff;
    margin: 0 3% 0 3%;
    padding-left: 2%;
    height: 30px;
  }
  .topnav a:not(.dropdownmenu){
    margin: 3% 3% 0 3%;
  }
  .dropdownmenu{
    /*background-color: #888;*/
  }
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav .pseudo-first{display: none;}
  .topnav #bar-icon{
    float: right;
    display: block;
  }
  .topnav #topnav-brand{
    margin-bottom: 5%;
  }
  hr.styled:after { content: "ยง"; display: inline-block; position: relative; top: -1.7em; font-size: 0.5em; padding: 0 0.25em; background: white; color: #666; }
  .show-more{
  margin-top: 0;
  margin-bottom: 15%;
}
}

@media screen and (max-width: 600px){
  .topnav.responsive {
    position: relative;
  }
  .responsive .dropdownmenu{
    transition: all 2s;
    opacity: 0;
  }
  .topnav.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .fr{
    float: none;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-at-landing{
    position: absolute;
    width: 100%;
  }
  .in .dropdownmenu{
    opacity: 1;
  }
  #footer-list li{
    display: block;
  }
}

@media screen and (max-width: 768px){
  .thumb:not(:last-child){
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .thumb{
    height: 180px;
  }
  .img-thumbnail{
    width: 100px;
    height: 100px;
  }
  .row{
    margin: 0;
  }
}

@media screen and (max-width: 1024px){
  #footer-list li{
    padding: 1%;
  }
  .scroll{
    width: 15%;
    border: 1px solid #cf3721;
    margin-bottom: 15%;
    padding: 1% 0;
  }
}