* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#navbar{
  border-bottom: 2px solid #999;
}

#navbar a{
  margin: 1%;
  padding: 0;
}

@media screen and (max-width: 600px){
  #navbar{
    border-bottom: 0px solid #999;
  }
}