#product-head{
  text-align: center;
  font-size: calc(10px + 2vw);
  margin: 0 auto 4% auto;
}

#product-img-sectn{
  width: 50%;
  margin-top: 7%;
  float: left;
}

#product-img{
  margin: 0 20%;
}

.img-column {
  float: left;
  width: 24%;
  height: 10vh;
}

.img-column:not(:last-child){
  margin-right: 1.3%;
}

.img-row{
  margin: 0 20%;
}

/* Style the images inside the grid */
.img-column img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.img-column img:hover {
  opacity: 1;
}

#prodpage-right{
  width: 40%;
  float: right;
  margin: 7% 10% 0 0;
}

#product-img .product-image {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.product-price{
  text-align: center;
  font-size: calc(5px + 1vw);
  margin-right: auto;
  margin-left: auto;
}

#buybutton{
  cursor: pointer;
  margin: 2% auto 2% auto;
  width: 34%;
  background-color: #9c3;
  text-decoration: none;
  padding: 1%;
  text-align: center;
  font-size: calc(5px + 1vw);
}

#buybutton a{
  color: #fff;
  text-decoration: none;
}

#description{
  font-size: calc(6px + 1vw);
}

#product-features{
  font-size: calc(5px + 0.7vw);
}

@media screen and (max-width: 600px){
  #product-img-sectn{
    width: 100%;
    margin: 0;
  }

  #prodpage-right{
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .product-price{
    margin: 0;
  }
  #product-head{
    margin: 0;
  }
  #product-img .product-image {
    height: 35vh;
    padding: 0 15%;
  }
  #buybutton{
    margin-left: auto;
    margin-right: auto;
  }
  #product-features{
    margin: 0 5%;
  }
}

@media screen and (max-width: 450px){
  #product-img .product-image {
    height: 25vh;
    padding: 0 15%;
  }
}