#product-head{
  text-align: center;
  font-size: calc(10px + 2vw);
  margin: 0 auto 4% auto;
}

#product-img{
  width: 50%;
  margin-left: 10%;
  margin-top: 7%;
}

#prodpage-right{
  width: 50%;
  float: right;
  margin-right: 5%;
}

#product-img .product-image {
  height: 40vh;
  width: 50%;
  padding: 2%;
  margin-top: 3%;
  margin-bottom: 5%;
  float: left;
}

.product-price{
  text-align: center;
  font-size: calc(5px + 1vw);
  margin-right: auto;
  margin-left: auto;
}

#buybutton{
  cursor: pointer;
  margin: 2% auto 2% auto;
  width: 34%;
  background-color: #9c3;
  text-decoration: none;
  padding: 1%;
  text-align: center;
  font-size: calc(5px + 1vw);
}

#buybutton a{
  color: #fff;
  text-decoration: none;
}

#description{
  font-size: calc(6px + 1vw);
}

#product-features{
  font-size: calc(5px + 0.7vw);
}

@media screen and (max-width: 800px){
  #product-img{
    width: 100%;
    margin: 0;
  }

  #product-img .product-image{
    margin-left: 25%;
  }

  #prodpage-right{
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .product-price{
    margin: 0;
  }
  #product-head{
    margin: 0;
  }
  #product-img .product-image {
    height: 25vh;
  }
  #buybutton{
    margin-left: auto;
    margin-right: auto;
  }
  #product-features{
    margin: 0 5%;
  }
}