@font-face {
  font-family: 'maxwell';
  src: url('/fonts/maxwell.bold.ttf');
}

@font-face {
  font-family: 'product';
  src: url('/fonts/ProductSansRegular.ttf');
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'product',sans-serif;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}

#navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #DD063D;
  background-color: black;
  padding: 0 5% 0 2%;
  position: fixed;
}

#logo{
  width: 8%;
  height: 8%;
  fill: #DD063D;
}

#dropdown{
  display: inline-block;
  position: relative;
  margin-right: 10%;
}

#dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: #DD063D;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 220%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -120%;
    font-size: calc(8px + 0.5vw);
}

.dropdown-content a {
    color: #DD063D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#dropdown:hover .dropdown-content {
    display: block;
}

#brand-name {
  font-family: 'maxwell';
  font-size: calc(10px + 2.5vw);
}

#dropdown i{
  font-size: calc(8px + 1.4vw);
}

.category-head{
  background-color: #222;
  color: #F2A013;
  width: 25%;
  margin-bottom: 3%;
  padding: 1%;
  text-align: center;
  font-size: calc(12px + 0.8vw);
}

.content{
  padding-top: 15%;
  width: 100%;
}

.category{
  width: 25%;
  display: inline-block;
  text-align: center;
  height: 50vh;
}

.category-img{
  width: 90%;
  height: 60%;
  margin: 5%;
}

.category-name{
  font-size: calc(8px + 0.5vw);
}

hr.styled { overflow: visible; /* For IE */border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)); text-align: center; } 
hr.styled:after { content: "ยง"; display: inline-block; position: relative; top: -0.7em; font-size: 1em; padding: 0 0.25em; background: white; color: #666; }

footer{
  overflow: auto;
  margin-top: 5%;
}

#footer-head{
  color: #888;
  font-family: 'maxwell';
  font-size: calc(15px + 2vw);
  text-align: center;
}

sup{
  font-size: 50%;
}

#footer-list{
  list-style-type: none;
  display: block;
}

.footer-links{
  color: #888;
  font-size: calc(8px + 0.7vw);;
}

.footer-links:hover{
  text-decoration: none;
  color: #222;
}

#footer-body{
  text-align: center;
  width: 100%;
  margin-top: 2%;
}

#footer-list li{
  display: inline-block;
  padding: 1% 2%;
}

#footer-list{
  padding: 0;
}

@media screen and (max-width: 600px){
  #navbar{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .content{
    padding-top: 25%;
  }
  hr.styled:after { content: "ยง"; display: inline-block; position: relative; top: -1.7em; font-size: 0.5em; padding: 0 0.25em; background: white; color: #666; }
  #footer-list li{
    display: block;
  }
  #footer-list li{
    padding: 1%;
  }
  .category-head{
    width: 50%;
  }
  .category{
    width: 33%;
    display: inline-block;
    text-align: center;
    height: 30vh;
  }
}